<div id="header">
    <h1>Unified-pride-flags Flag Preview</h1>
    <div id="headerlinks">
        <span>{{{link "github" "https://github.com/ExperiBass/unified-pride-flags"}}}</span>{{!--
        --}}
    </div>
    <hr />
</div>

<div id="flag-container"></div>

<hr />
<footer>Massive thanks to <a href="https://github.com/KonkenBonken">@KonkenBonken</a> on GitHub~</footer>
<script>
    const flagContainer = document.getElementById('flag-container')
    async function buildFlags() {
        let flagHTML = ''
        flagContainer.innerHTML = "<span>Loading...</span>"
        const FLAGS = await (await fetch("https://raw.githubusercontent.com/ExperiBass/unified-pride-flags/fluffy/generated/unified-flags.json")).json()
        for (const [name, flag] of Object.entries(FLAGS)) {
            let flagDiv = `<div class="flag" id="${name}">\n`
            for (let i = 0; i < flag.stripes.length; i++) {
                const stripe = flag.stripes[i]
                const weight = flag.weights?.[i] || 1
                flagDiv += `<div class="flag-stripe" style="background-color:${stripe};flex:${weight}"></div>\n`
            }
            flagDiv += `<h3>${name}</h3>\n</div>`
            flagHTML += flagDiv
        }
        flagContainer.innerHTML = flagHTML
    }
    buildFlags().catch(e => {
        flagContainer.innerText = e
    }) 
</script>