<div id="header">
    <h1>Pixelsorts</h1>
    <span>[<a href="https://foxuments.experibassmusic.eth.limo/pixelsort-gens/">more pixelsorting results +
            masks</a>]</span>
    <hr />
</div>
<div id="gallery">
    <span>Loading...</span>
    <noscript>Just kidding, you have JS disabled ya dork!</noscript>
    {{{images}}}
</div>
<script defer src="src/scripts/pixelsorts.js"></script>