<div id="term"></div>

<script src="./src/scripts/autosuggest.js"></script>
<script src="./src/scripts/terminal.js"></script>
<script>
    const promptInput = document.getElementById('activeprompt')
    const promptCompletion = document.getElementById('activepromptcompletion')
    const term = new Terminal(document.getElementById('term'))
</script>