#flag-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    justify-content: space-between;
}

.flag {
    min-width: 300px;
    max-width: 32%;
    aspect-ratio: 3 / 2;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.flag-stripe {
    width: 100%;
    flex: 1;
}

h3 {
    text-transform: capitalize;
    margin: 0;
}
