@font-face {
    font-family: Unitblock;
    src: url(../fonts/Unitblock.woff2);
}
@font-face {
    font-family: Alterbeing;
    src: url(../fonts/alterbeing.woff2);
}
@font-face {
    font-family: 'Assegai Rounded';
    src: url(../fonts/Assegai-Rounded.woff2);
}