#gallery {
    /* display: grid; */
    /* grid-template-columns: repeat(3, 1fr); */
    width: 100%;
    columns: 3;
    column-gap: var(--gap);
}

.img-desc {
    font-size: 0.8rem;
    line-height: 1.1rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.img-container {
    display: table; /* needed because firefox splits block elements */
    height: fit-content;
    width: fit-content;
    /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%23AC7D69FF' stroke-width='3' stroke-dasharray='12%2c66%2c6' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e"); */
    padding-bottom: calc(var(--gap) * 3);
}
img {
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius);
}

@media (max-width: 40rem) {
    #gallery {
        columns: 2;
    }
}