@import url('./main.css');

:root {
    --background-color: #93e9be;
    --text-color: #614c79;
    --links: #d081aa;
    --visited-links: #ba92e9;
    --hover-links: #b6acc2;
}
* {
    font-family: 'FiraCode Nerd Font';
}
body {
    margin: 0 auto;
    width: 75%;
    display: block;
    align-items: center;
    justify-content: normal;
}

img {
    min-width: 50%;
    min-height: 50%;
}
div {
    transition: background-color 400ms;
    width: min-content;
}

.exampleimage {
    border: 2px solid var(--text-color);
    border-radius: 4px;
    margin-bottom: 4%;
}
.exampleimage:hover {
    background-color: var(--links);
}

.text {
    width: 50%;
}

.left {
    float: left;
}
.right {
    float: right;
}
#links {
    display: block;
    width: 100%;
}
