:root {
    --background-color: #271424;
    --text-color: #dbb28d;
    --secondary-color: #ac7d69;
    --links: #7477a4;
    --link-hover-color: #5f547b;
    --tertiary-color: #afbbd9;

    --transition-normal: 333ms;
    --transition-quick: 200ms;
    --gap: 0.3rem;
    --border-radius: 4px;
    --dim: 63%;

    --gapped-border: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='4' ry='4' stroke='%23AC7D69FF' stroke-width='3' stroke-dasharray='12%2c66%2c6' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
}

@keyframes cursor-blink {
    99.99%,
    50.01% {
        opacity: 0;
    }
    0%,
    50% {
        opacity: 1;
    }
}
