.ring-container {
    display: inline-flex;
    flex-direction: row;
    gap: var(--gap);
    flex-wrap: wrap;
}
.webring {
    display: flex;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}

a.webring-prev::before {
    content: '«';
}
a.webring-next::after {
    content: '»';
}
a.webring-random::before {
    content: '¿';
}
a.webring-random::after {
    content: '?';
}

/* linuxring styling */
#linuxring > table {
    border: 1px solid var(--text-color);
    border-radius: var(--border-radius);
}
#linuxring .webring-info > br {
    display: none;
}
/* tux */
#linuxring .webring-info > .webring-links > a > img {
    width: 1.4rem;
    margin-bottom: -0.2rem;
}

/* ahsc */
@font-face {
    font-family: 'venice_classicmedium';
    src: url('https://feelingmachine.moe/veniceclassic-webfont.woff2') format('woff2'),
        url('https://feelingmachine.moe/veniceclassic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#ahsc .ahsc-prev,
#ahsc .ahsc-info,
#ahsc .ahsc-links {
    font-family: 'venice_classicmedium';
}
#ahsc a {
    color: #bb00ff;
}
#ahsc a:hover {
    color: #ff00ff;
}
#ahsc a:visited {
    color: #8b00c6;
}

/* mobile */
@media (max-width: 40rem) {
    .ring-container {
        text-align: center;
        justify-content: center;
        flex: 0;
    }
    .webring-title {
        display: inline-block;
    }
}
