@import './font.css';
@import './variables.css';

.floatingchat-container-wrap {
    position: fixed;
    bottom: 16px;
    left: 16px;
    z-index: 99999999 !important;
    width: 100%;
    height: 65px;
    max-width: 180px;
}
.floatingchat-donate-button {
    background-color: var(--background-color);
    border-radius: 100px;
    height: 46px;
    display: flex;
    align-items: center;
    font-family: bicubik;
    font-size: 12px;
    width: max-content;
    color: var(--text-color);
    justify-content: space-between;
    padding: 0 20px;
    font-weight: 700;
    cursor: pointer;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    display: flex!important;
}