@import './main.css';

/* overrides */
body {
    align-items: start;
    text-align: left;
    cursor: default !important;
    overflow-wrap: break-word;
}
p {
    margin: 0;
}

/* term styling */
@keyframes blinker { to { opacity: 0.2; } }
:root {
    --active-background-color: var(--background-color);
}

html,
body {
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
}

#term {
    height: 100%;
    width: 100%;
}

#motd {
    display: block;
    padding-bottom: 1rem;
}

.blinking {
    animation: blinker 1s ease-in-out infinite alternate;
}

.errname {
    color: red;
}

.errstack {
    font-style: italic;
    color: #444;
    margin-left: 2em;
    text-indent: -2em;
}

.promptdiv {
    display: flex;
    flex-direction: row;
    padding-bottom: 0.2rem;
    min-height: 1em;
    margin-inline: 0px;
}

.prompt {
    vertical-align: top;
    user-select: none;
    width: fit-content;
    padding-inline-end: 0.5rem;
    margin-inline: inherit;
}

.promptbrace {
    color: var(--tertiary-color);
    margin-inline: inherit;
}

.promptuser {
    font-weight: bold;
    margin-inline: inherit;
}

.promptinput {
    white-space: -moz-pre-space;
    display: inline-block;
    width: fit-content;
    margin-inline: inherit;
    user-select: none;
}
.promptinput:empty {
    flex: 1;
}

.promptinput:focus-visible {
    border: none !important;
}

#activepromptcompletion {
    width: fit-content;
    font-style: italic;
    color: #444;
    margin-inline: inherit;
}

.output {
    background-color: var(--background-color);
    display: flex;
    flex: 1;
}

#activeprompt {
    caret-color: var(--text-color);
    /*caret-shape: block; /* pls mozilla */
    background-color: var(--active-background-color);
    outline: none !important;
}