@import './font.css';
/* Set variables here */
@import './variables.css';

body {
    font-family: wipeout;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    cursor: default;
    overflow-wrap: break-word;
}

input, select {
    background-color: inherit;
    color: inherit;
    border-color: var(--secondary-color);
    border-radius: 4px;
    border-style: solid;

}

div {
    padding: 0%;
    margin: 0 auto;
    width: 50%;
}

p {
    word-wrap: break-word;
}

/*
    Used for lists
*/
pre {
    white-space: pre-line;
    align-self: center;
    font: inherit;
}

a {
    text-decoration: unset;
    color: var(--links);
}

a:visited {
    color: var(--visited-links);
}

.hov:hover, a:hover {
    color: var(--hover-links);
}

footer,
h2 {
    color: gray;
    font-size: 12px;
}

/* Change the scrollbar if supported */

/* width */
::-webkit-scrollbar {
    background: var(--background-color);
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--links);
}