@font-face {
    font-family: bicubik;
    src: url(../fonts/bicubik.otf);
}

/* Set variables here */
:root {
    --background-color: #08111C;
    --text-color: white;
    --links: #1B81F3;
    --visited-links: #14268C;
    --hover-links: #935A6B;
}

body {
    font-family: bicubik;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
}

div {
    padding: 0%;
    margin: 0 auto;
    width: 50%;
}

p {
    word-wrap: break-word;
}

/*
    Used for lists
*/
pre {
    white-space: pre-line;
    align-self: center;
    font: inherit;
}

a {
    text-decoration: unset;
    color: var(--links);
}

a:visited {
    color: var(--visited-links);
}

a:hover {
    color: var(--hover-links);
}

footer,
h2 {
    color: gray;
    font-size: 12px;
}

/* Change the scrollbar if supported */

/* width */
::-webkit-scrollbar {
    background: var(--background-color);
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--links);
}