:root {
    --background-color: #271424;
    --text-color: #dbb28d;
    --secondary-color: #ac7d69;
    --links: #7477a4;
    --link-hover-color: #5f547b;
    --tertiary-color: #afbbd9;

    --transition-normal: 333ms;
    --gap: 0.3rem;
    --border-radius: 12px;
    --dim: 63%;
}

@keyframes cursor-blink {
    99.99%, 50.01% {
        opacity: 0;
    }
    0%, 50% {
        opacity: 1;
    }
}