:root {
    --background-color: #0E001A;
    --text-color: #a364d5;
    --hover-color: #96d564;
    --link-hover-color: #1ecc8a;
    --secondary-color: #3F0071;
    --links: #CC1E60;
    --transition-normal: 250ms;
}