:root {
    --background-color: #271424;
    --text-color: #DBB28D;
    --hover-color: #AC7D69;
    --link-hover-color: #5F547B;
    --secondary-color: #7477A4;
    --links: #7477A4;
    --transition-normal: 250ms;
}