.webring {
    display: flex;
    justify-content: center;
}

a.webring-prev::before {
    content: "«";
}
a.webring-next::after {
    content: "»";
}
a.webring-random::before {
    content: "¿";
}
a.webring-random::after{
    content: "?";
}

/* linuxring styling */
#linuxring>table {
    border: 1px solid var(--text-color);
    border-radius: var(--border-radius);
}
#linuxring .webring-info>br {
    display: none;
}
/* tux */
#linuxring .webring-info>.webring-links>a>img {
    width: 1.4rem;
    margin-bottom: -0.2rem;
}