.webring {
    display: flex;
    justify-content: center;
}
/* maybe
.webring-previous::before {
    content: "«";
}
.webring-next::after {
    content: "»";
}
.webring-random::before {
    content: "¿";
}
.webring-random::after {
    content: "?";
}*/