<div id="header">
    <h1>{{tabtitle}}</h1>
    <span>Gallery of my screenshots.</span>
    <span>{{{link "home" "/"}}}</span>
    <hr>
</div>

<!-- TODO: move to foxuments or delete -->
<div id="gallery">
    {{{populategallery galleryImages}}}
</div>

<footer>{{{link "home" "/"}}}</footer>