<div id="header">
    <h1>Unified-pride-flags Flag Preview</h1>
    <div id="headerlinks">
        <span>{{{link "github" "https://github.com/ExperiBass/unified-pride-flags"}}}</span>{{!--
        --}}
    </div>
    <hr />
</div>

<div id="flag-container"></div>

<hr />
<footer>Massive thanks to <a href="https://github.com/KonkenBonken">@KonkenBonken</a> on GitHub~</footer>
<script src="src/scripts/flags.js" defer></script>