<div class="text">
    <h1>TOS</h1>
    <p><b>Can do</b>: Cat like, Dog like, Vulpine, Most But not all Pokémon, Sergals, basically things with fur and
        paws<br><br>
        <b>Can Not or Will Not do</b>: Nsfw, Humans, Avian/anything with feathers, Dragons/anything with scales<br><br>
        I have the right to decline any commissions. They can be denied for multiple reasons, Mainly if I don't feel
        comfortable doing it or
        if I feel I can't give you the best for what you're paying.
    </p>
    <p>If I approve your commission, I will do a rough watermarked Sketch and send you a preview. I will require Payment
        in full at this point via PayPal.
        Any changes to outline will need to be made now or I will charge USD$1 extra for each major outline change
        afterwards.
        During the works, I will send you a few updates as well to keep communication going.
        I do not do free art so please don't ask. If you're going to be mean, also please don't ask. I will also need
        time to do the art due to multiple ongoing medical issues so feel free to ask how its coming but please be
        patient.
    </p>
    <h1>Pricing</h1>
    <p>Colored Icon: <i>USD$15</i><br>
        Shaded Icon: <i>USD$18</i>
    </p>
</div>
<div style="width:65%;">
    <h1>Examples</h1>
    <div class="exampleimage">
        <img src="src/images/rinku/flat_example.png" />
        <p>Example of a colored icon.</p>
    </div>
    <div class="exampleimage">
        <img src="src/images/rinku/shaded_example.png" />
        <p>Example of a shaded icon.</p>
    </div>
</div>
<!--<div id="links">
            <h1>Links</h1>
            <p><a href="google.com">Twitter</a></p>
        </div>-->