{{{header
    'Unified-pride-flags Flag Preview{{{cursorblink}}}'
    "{{{wrappedlink 'home' '/'}}}{{{wrappedlink 'github' 'https://github.com/ExperiBass/unified-pride-flags'}}}<br/>Massive thanks to <a href='https://github.com/KonkenBonken'>@KonkenBonken</a>"
}}}
<div id='flag-container'></div>
<script src='src/scripts/flags.js'></script>