<!-- hi cutie :3 -->
<div id='header'>
    <h1> Tandem vulpes vocem suam reperiet </h1>
    <hr />
</div>
    <div id='gtainer'>
        {{! mobile dropdown }}
        <div id='dropdown-container'>
            <div id='dropdown'>
                <input type='checkbox' id='dropdownlow' checked='no' />
                <label for='dropdownlow'>Menu</label>
                {{! menu }}
                <menu id='menu'>
                    <li class='menu-link hov' tabindex='0' page='aboutme'> About Me</li>
                    <li class='menu-link hov' tabindex='0' page='bio'> Bio</li>
                    <li class='menu-link hov' tabindex='0' page='contact'> Contact</li>
                    <li class='menu-link hov' tabindex='0' page='otherpages'> Other Pages</li>
                    <li class='menu-link hov' tabindex='0' page='links'> External Links</li>
                    <li class='menu-link hov' tabindex='0' page='comms'> Commissions & Track Purchasing</li>
                    <li class='menu-link hov' tabindex='0' page='payment'>󰆬 Payment & Donos</li>
                </menu>
            </div>
        </div>
        <div id='pane'>
            <h2>> placeholder</h2>
            <p>Loading...</p>
            <p>If this fails, clear your cache</p>
            <noscript>or you have js disabled, pls enable (i don't bite <s>hard</s> :3)</noscript>
        </div>
    </div>
<hr />
<div class='ring-container'>
    <div class='devring webring'>
        <div class='devring-container'>
            <span class='devring-title webring-title'><a href='https://devring.club/'>devring.club</a></span>
            [<a href='https://devring.club/sites/18/prev' class='devring-previous webring-prev'>previous</a>][<a
                href='https://devring.club/random'
                class='devring-random webring-random'
            >random</a>][<a href='https://devring.club/sites/18/next' class='devring-next webring-next'>next</a>]
        </div>
    </div>
    <div id='linuxring' class='webring'>
        <script
            async
            type='text/javascript'
            src='https://teethinvitro.neocities.org/webring/linuxring/script/onionring-variables.js'
        ></script>
        <script
            async
            type='text/javascript'
            src='https://teethinvitro.neocities.org/webring/linuxring/script/onionring-widget.js'
        ></script>
    </div>
    <div id='ahsc' class='webring'>
        <script defer type='text/javascript' src='https://feelingmachine.moe/alterring/onionring-variables.js'></script>
        <script defer type='text/javascript' src='https://feelingmachine.moe/alterring/onionring-widget.js'></script>
        <link rel='stylesheet' href='https://feelingmachine.moe/alterring/onionring.css' />
    </div>
    <div id='furryring' class='webring'>
        <script defer type='text/javascript' src='https://furryring.neocities.org/onionring-variables.js'></script>
        <script defer type='text/javascript' src='https://furryring.neocities.org/onionring-widget.js'></script>
        <link rel="stylesheet" href="https://furryring.neocities.org/onionring.css">
    </div>
    <div id='xenicRing' class='webring'>
    	<script defer type="text/javascript" src="https://confettiguts.gay/xenics/onionring-variables.js"></script>
    	<script defer type="text/javascript" src="https://confettiguts.gay/xenics/onionring-widget.js"></script>
    	<link rel="stylesheet" href="https://confettiguts.gay/xenics/onionring.css">
    </div>

    <div>
        Link to me!
        <a href='https://experibassmusic.eth.limo'>
            <img
                src='https://experibassmusic.eth.limo/src/images/webbadge.png'
                height='15'
                alt="small web badge with three overlapping theta-deltas and the text 'EBM'"
            />
        </a>
        <code class='hov copyable' onclick='copy(this, {trimNewlines: true})' title='Click to copy!'>
            &lt;a href="https://experibassmusic.eth.limo"&gt;&lt;img
            src="https://experibassmusic.eth.limo/src/images/webbadge.png" height="15" alt="small web badge with three
            overlapping theta-deltas and the text 'EBM'"/&gt;&lt;/a&gt;
        </code>
    </div>
</div>
<hr />
<footer>
    This site is self-hosted and bridged
    <a href='ipns://k51qzi5uqu5djge84e0oh3d7cy5l03130126g6kfxquex2wxrozshpdg8nd1sg'>from IPFS</a>
    by
    <a href='https://eth.limo'>eth.limo</a>. Fonts used:
    <a href='https://ggbot.itch.io/unitblock-font'>Unitblock</a>,
    <a href='https://github.com/NR74W/WipEout-Fonts/'>supErPhoniX2</a>
    patched with
    <a href='https://www.nerdfonts.com/'>NerdFonts</a>.
    <span xmlns:cc='https://creativecommons.org/ns#'>
        <a rel='cc:attributionURL' href='https://github.com/experibass/website'>This work</a>
        by
        <a rel='cc:attributionURL dct:creator' property='cc:attributionName' href='https://experibassmusic.eth.limo'>
            Gïng Pepper
        </a>
        is licensed under
        <a
            href='https://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1'
            rel='license noopener noreferrer'
            style='display: inline-block'
        >
            CC BY-NC-SA 4.0
            <img
                style='height: 1rem !important; vertical-align: text-bottom'
                src='https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1'
            /><img
                style='height: 1rem !important; margin-left: 3px; vertical-align: text-bottom'
                src='https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1'
            /><img
                style='height: 1rem !important; margin-left: 3px; vertical-align: text-bottom'
                src='https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1'
            /><img
                style='height: 1rem !important; margin-left: 3px; vertical-align: text-bottom'
                src='https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1'
            />
        </a></span>
    and
    <a href='/LICENSE.txt'>AGPL-v3.0
        <img
            style='height:1rem !important; vertical-align: text-bottom'
            src='https://www.gnu.org/graphics/agplv3-88x31.png'
        />.</a><span class='cursor-blink'>_</span>
</footer>
<script src='src/scripts/index.js' defer></script>
